*.class
target
*~
bootstrap-ivy.xml
repository.xml
lib/
/.gradle
/.idea
/build
/gorn/build/
/racedet/build/
/clocks/build/
*.iml
.classpath
.project
/bin/
/.settings/org.eclipse.buildship.core.prefs
*.swp
input/
*.png
*.pdf
